*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.3)),url("./background1.jpg");
    background-size: cover;
    background-position: center;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%  ;
}
.logo{
    width: 140px;
    cursor: pointer;
    border-radius: 15px 5px 15px 5px;
}
li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
  a{
    text-decoration: none;
    color:white;
}.register-btn{
    background-color: white;
    color: black;
    text-align: center;
    padding: 8px 20px;
    border-radius: 20px ;
    text-decoration: none;
    font-size: 14px;
}.container{
    padding: 0 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500 ;
    color:white;
    text-align: center;
    padding-top: 20%;
    text-decoration: solid;

}
 .Search-bar{
 background-color: white;
 width: 85%;
 margin: 10px auto;
 padding: 6px 10px 6px 30px;
 border-radius: 50px;
}
.form{
    display: flex;
   align-items: center;
    flex-wrap: wrap;
}
.Search-bar form input{
    display: block;
    border:0 ;
    outline: none;
   background-color: transparent;
   
}
.searchbtn{
    background-color: rgb(236, 60, 98);
    height: 50px;
    width: 50px;
    border: 0;
    outline: none;border-radius: 50%;
    cursor: pointer;
}
.Search-bar form button img{
    background-color: rgb(236, 60, 98);
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex:auto;
}
.Search-bar form label{
    font-weight: 600;
}
/* ------------Exclusive------------- */
.sub-titel{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}
.Exclusive{
    display: grid;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr;
  grid-template-columns:1fr 1fr 1fr 1fr  1fr;
  row-gap: 20px;
  column-gap: 20px;
   
}
.Exclusive div img{
    width: 100%;
    border-radius: 15px;
}
.Exclusive div{
    position: relative;
 
}
.Exclusive div span{
    position: absolute;
    top: 50%;
    left: 40%;
    /* transform: translate(123px 123px); */
    /* text-align: center;
*/color: aliceblue;
}